* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
}
.left {
  background-image: url("assets/BgImg.jpg");
  background-repeat: no-repeat;
  background-size: 925px 821px;
  background-position: 0px 0px;
  background-attachment: fixed;
}
.left #blur-light {
  position: relative;
  top: 0%;
  left: 80%;
  width: 400px;
  height: auto;
  z-index: 0;
  pointer-events: none;
}
.left .headline {
  color: #EEEEEE;
  height: 213.65px;
  width: 578.33px;
  position: absolute;
  top: 260px;
  left: 117px;
}
.left .headline .logo {
  display: flex;
  align-items: center;
  gap: 10.35px;
  margin-bottom: 12px;
}
.left .headline .text {
  display: flex;
  flex-direction: column;
}
.left .headline .text h1 {
  height: 74px;
  font-size: 56.6px;
  line-height: 130%;
  letter-spacing: -0.02em;
  vertical-align: middle;
  font-family: "Inter", sans-serif;
  margin-top: 38px;
  font-weight: 700;
}
.left .headline .text p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 21.22px;
  line-height: 140%;
  letter-spacing: -0.01em;
  vertical-align: middle;
  font-family: "Inter", sans-serif;
}

.panel {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 925px;
  top: 0px;
  height: 811.92px;
  width: 515px;
  box-shadow: -2px 0 12px rgba(0, 0, 0, 0.3);
  gap: 2rem;
  padding: 2rem;
  border-top-right-radius: 32.96px;
  border-top-left-radius: 32.96px;
  border-bottom-right-radius: 32.96px;
}
.panel .slider {
  display: flex;
  height: 49.44px;
  width: 449.08px;
  border: solid #F5F6F9 3px;
  border-radius: 5px;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.panel .slider button {
  flex: 1;
  padding: 0.75rem;
  border: none;
  color: #7D7D91;
  background: #F5F6F9;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: 19.23px;
  line-height: 150%;
  letter-spacing: -2%;
  cursor: pointer;
}
.panel .slider button.active {
  background: #FFFFFF;
  color: #232447;
  border: solid rgba(239, 240, 246, 0.5019607843) 3px;
  border-radius: 5px;
}
.panel .form {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  color: #6C7278;
  font-size: 16.48px;
  font-weight: 500;
  letter-spacing: -2%;
  line-height: 160%;
}
.panel .form label {
  margin: 0.5rem 0 0.25rem;
}
.panel .form label #email {
  display: flex;
  width: 449.08px;
  height: 63.17px;
  gap: 13.73px;
  border: solid #EDF1F3 1.37px;
  border-radius: 137.33px;
  padding: 37.08px 19.23px 37.08px 19.23px;
  background-color: #ffffff;
  box-shadow: -2px 0 12px rgba(0, 0, 0, 0.3);
  gap: 16.48px;
  color: #1A1C1E;
  letter-spacing: -0.1%;
  line-height: 140%;
  font-size: 19.23px;
  font-weight: 500;
}
.panel .form label #password {
  display: flex;
  width: 449.08px;
  height: 63.17px;
  gap: 13.73px;
  border: solid #EDF1F3 1.37px;
  border-radius: 137.33px;
  padding: 37.08px 19.23px 37.08px 19.23px;
  background-color: #ffffff;
  box-shadow: -2px 0 12px rgba(0, 0, 0, 0.3);
  gap: 16.48px;
  color: #1A1C1E;
  letter-spacing: -0.1%;
  line-height: 140%;
  font-size: 19.23px;
  font-weight: 500;
}
.panel .form input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.panel .form .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.panel .form .options a {
  text-decoration: none;
  color: #375dfb;
  font-size: 0.9rem;
}
.panel .login-btn {
  background: #375dfb;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1rem;
}
.panel .divider {
  text-align: center;
  margin: 1rem 0;
  font-weight: 500;
  color: #888;
}
.panel .social-login-google,
.panel .social-login-facebook {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid #ccc;
  padding: 0.6rem;
  border-radius: 5px;
  background: #f8f8f8;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.panel .social-login-google img,
.panel .social-login-facebook img {
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=style.css.map */